.banner{
    container-type: size;
    display: grid;
    grid-template-columns: minmax(min-content, 8fr) minmax(min-content, 5fr);
    gap: 5rem;
    background-color: var(--color-black);
    padding: 5rem;
    /* block-size: 60vh; */
     /* height: 60vh; */
    min-block-size: 60vh;
   
}

.banner h2{
    text-transform: uppercase;
    color: var(--color-violet);
    font-size: clamp(1rem, calc(3rem + .5rem), 8vh);
    margin: 0;
    margin-block-end: .5em;
}

.banner p{
    line-height: 1.7;
    font-size: 1.2em;
    margin: 0;
}

.banner > img {
   /* height: 100%; */
   /* height: 100cqb; */
   /* height: 100cqh; */
}



//Style queries
@container style(background-color: var(--color-black)) {
    .card {
        background-color: green;
    }
}

@container article (inline-size > 550px) and style(--responsive: true) {
    .card {
        background-color: red;
    }
}